
<div class="burger-div">
	<div class="row">
		<div class="col-md-7 col-7">
			{{burger_name}}
		</div>
		<div class="col-md-3 col-3">
			<button class="change-devoured btn btn-outline-secondary rounded-0" data-id="{{id}}" data-newdevour="{{devoured}}">
				{{#if devoured}}Devour It!{{else}}Reorder it!{{/if}}
			</button>
			<button class="delete-devoured btn btn-outline-secondary rounded-0" data-id="{{this.id}}">Delete</button>
		</div>
	</div>
</div>