<li>
{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdev="{{devoured}}">
		{{#if }}Devour It!{{else}}Dont Devour!{{/if}}
	</button>

	<button class="delete-dev" data-id="{{this.id}}">DELETE!</button>

</li>